html {
    box-sizing: border-box;
    height: 100vh;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

img {
    display: block;
    max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    padding: 0;
    margin: 0;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}

button {
    cursor: pointer;
}

:active,
:hover,
:focus {
    outline: 0;
    outline-offset: 0;
}

body {
    max-width: 1280px;
    min-width: 375px;
    margin: 0 auto;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-variant-numeric: lining-nums;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
}

.container {
    max-width: 1120px;
    margin: 0 auto;
}

.background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.wrapper {
    background-color: rgba(112, 112, 112, 0.1);
    backdrop-filter: blur(60px);
    border-radius: 8px;
    max-width: 1120px;
    min-height: 860px;
    margin: 32px 80px;
}

/* @media (min-width: 1800px) {
    body {
        height: 100vh;
    }
} */

@media (max-width: 1260px) {
    .container {
        padding: 0 24px;
    }

    .wrapper {
        margin: 24px;
    }
}

@media (max-width: 768px) {
    .container {
        padding: 0 10px;
    }

    .wrapper {
        margin: 15px;
    }
}