.header {
    padding: 32px;    
}

.header__items {
    max-width: 1120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.logo {
    display: block;
}

.logo__small {
    display: none;
}

.header__search {
    border-radius: 8px;
    padding: 12px 16px;
    width: 506px;
    height: 48px;
    background-color: rgba(245, 244, 244, 0.4);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__search:hover {
    background-color: #dadada;
}

.header__search_form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.header__search_input {    
    max-width: 434px;
    height: 24px;
    width: 100%;
    border: none;
    font-size: 20px;
    line-height: 120%;
    color: #707070;
    background-color: inherit;
}

.header__search_input:focus {
    color: #202020;
}

.header__search_btn {
    width: 20px;
    height: 20px;
    border: none;
    background-color: inherit;
    background-image: url("../public/search.svg");
    cursor: pointer;
}

.header__search_btn-close {
    display: none;
    width: 16px;
    height: 16px;
    border: none;
    background-color: inherit;
    background-image: url("../public/search_close.svg");
}

@media (max-width: 1260px) {
    .header {
        padding: 24px 0;
    }

    .logo {
        display: none;
    }
    
    .logo__small {
        display: block;
    }

    .header__search {
        width: 483px;
    }
}

@media (max-width: 730px) {    
    .header__search {
        width: 263px;
        height: 32px;
    }
}

@media (max-width: 460px) {
    .logo__small {
        width: 32px;
        height: 32px;
    }
}

